body {
  background: #dcd6f7;
  font-family: "Edu TAS Beginner", cursive;
  font-style: italic;
  color: #424874;
}

.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 135px;
}

.countdown-clock {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 150px;
}

.text-input {
  font-size: 25px;
}

p {
  margin: 0px;
}

.dobby-image{
    display: block;
    margin-right: auto;
    margin-left: auto;
    visibility: hidden;
}

span {
  font-size: 30px;
  margin-right: 10px;

}